<!-- <p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedThemes()" [disabled]="!selectedThemes || !selectedThemes.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar> -->

<p-table
    #dt
    [value]="themes()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['titles[0].title', 'locales', 'templates_count', 'formats_count']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedThemes"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} themes"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Themes</h5>
            <!-- <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield> -->
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <!-- <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th> -->
            <th style="min-width: 16rem">ID</th>
            <th pSortableColumn="titles[0].title" style="min-width:16rem">
                Title
                <p-sortIcon field="titles[0].title" />
            </th>
            <th>Locales</th>
            <th pSortableColumn="templates_count" style="min-width: 8rem">
                Templates
                <p-sortIcon field="templates_count" />
            </th>
            <th pSortableColumn="formats_count" style="min-width:10rem">
                Formats
                <p-sortIcon field="formats_count" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-theme>
        <tr>
            <!-- <td style="width: 3rem">
                <p-tableCheckbox [value]="theme" />
            </td> -->
            <td style="min-width: 12rem">{{ theme.id }}</td>
            <td style="min-width: 16rem">{{ theme.titles[0].title }}</td>
            <td>{{ theme.locales }}</td>
            <td>{{ theme.templates_count }}</td>
            <td>{{ theme.formats_count }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editTheme(theme)" />
                <!-- <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteTheme(theme)" /> -->
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="themeDialog" [style]="{ width: '600px' }" [header]="isViewMode ? 'Visualizar Tema' : 'Detalhes do Tema'" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="title" class="block font-bold mb-3">Título</label>
                <input type="text" pInputText id="title" [(ngModel)]="theme.titles[0].title" required autofocus fluid [disabled]="isViewMode" />
                <small class="text-red-500" *ngIf="submitted && !theme.titles[0].title">Título é obrigatório.</small>
            </div>
            
            <div>
                <label for="locale" class="block font-bold mb-3">Locale</label>
                <input type="text" pInputText id="locale" [(ngModel)]="theme.titles[0].iso_locale" required fluid [disabled]="isViewMode" />
                <small class="text-red-500" *ngIf="submitted && !theme.titles[0].iso_locale">Locale é obrigatório.</small>
            </div>

            <div>
                <label for="locales" class="block font-bold mb-3">Locales Disponíveis</label>
                <textarea id="locales" pTextarea [(ngModel)]="localesString" required rows="3" cols="20" fluid placeholder="Digite os locales separados por vírgula (ex: pt-BR, en-US, es-ES)" [disabled]="isViewMode"></textarea>
                <small class="text-gray-600">Digite os locales separados por vírgula</small>
            </div>

            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-6">
                    <label for="templates_count" class="block font-bold mb-3">Quantidade de Templates</label>
                    <p-inputnumber id="templates_count" [(ngModel)]="theme.templates_count" [min]="0" fluid [disabled]="isViewMode" />
                </div>
                <div class="col-span-6">
                    <label for="formats_count" class="block font-bold mb-3">Quantidade de Formatos</label>
                    <p-inputnumber id="formats_count" [(ngModel)]="theme.formats_count" [min]="0" fluid [disabled]="isViewMode" />
                </div>
            </div>

            <div>
                <span class="block font-bold mb-4">Status</span>
                <div class="flex items-center gap-2">
                    <p-checkbox id="is_featured" name="is_featured" [(ngModel)]="theme.is_featured" [binary]="true" [disabled]="isViewMode" />
                    <label for="is_featured">Tema em Destaque</label>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Salvar" icon="pi pi-check" (click)="saveTheme()" [disabled]="isViewMode" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" /> 